/*section.Handlungsoptionen {*/
main{
	width: 80%;
	border: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	padding: 1em;
	
}

section.Handlungsoptionen {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	
}

aside {
	border: 2px solid green;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	padding: 1em;
	
	
}

footer {
	clear: both;
}

div.table { 
      display: table; 
      border-collapse:collapse; 
    }

div.tr { 
      display:table-row; 
    }

div.td { 
      display:table-cell; 
      border: none; 
      padding:5px; 
    }

.Handlungsoptionen .Handlungsoption, .Bildungsindex, .Gesamtklickzahl {
	margin: 2em;
	padding: 1em;
	border: 1px solid gray;
	border-radius: 0.5em;
	height: 5em;
	width: 10em;
}

.Zusatzoption button {margin-bottom: 0.5em;}


.Handlungsoption button {
	margin: 0.5em;
}



.myActionButton {
	-moz-box-shadow: 0px 10px 14px -7px #736827;
	-webkit-box-shadow: 0px 10px 14px -7px #736827;
	box-shadow: 0px 10px 14px -7px #736827;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffae17), color-stop(1, #a36502));
	background:-moz-linear-gradient(top, #ffae17 5%, #a36502 100%);
	background:-webkit-linear-gradient(top, #ffae17 5%, #a36502 100%);
	background:-o-linear-gradient(top, #ffae17 5%, #a36502 100%);
	background:-ms-linear-gradient(top, #ffae17 5%, #a36502 100%);
	background:linear-gradient(to bottom, #ffae17 5%, #a36502 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae17', endColorstr='#a36502',GradientType=0);
	background-color:#ffae17;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #b8b8b8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a793d;
}
.myActionButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a36502), color-stop(1, #ffae17));
	background:-moz-linear-gradient(top, #a36502 5%, #ffae17 100%);
	background:-webkit-linear-gradient(top, #a36502 5%, #ffae17 100%);
	background:-o-linear-gradient(top, #a36502 5%, #ffae17 100%);
	background:-ms-linear-gradient(top, #a36502 5%, #ffae17 100%);
	background:linear-gradient(to bottom, #a36502 5%, #ffae17 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a36502', endColorstr='#ffae17',GradientType=0);
	background-color:#a36502;
}
.myActionButton:active {
	position:relative;
	top:1px;
}

.robotzeit {
	border: none;
	border-radius: 20%;
	background-color: #bb7a04;
	margin: 0.5em;
	padding: 0.2em;
}        


