/* ---------------------
B A S I C  S T Y L E S
-----------------------*/
html, body {
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(images/University.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}

/* --------------------
N O T I Z B L O C K
-----------------------*/

#notizblock {
    width: 50%;
    margin: 100px auto;
    z-index: 2;
    height: 31em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin-top: -120px;
    background-image:url(images/Notizblock.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    overflow: hidden;
}
#schreibflaeche {
    width: 50%;
    margin: -100px auto;
    background-color: transparent;
    height: 25em;
    padding: 1em;
}
#fakeflaeche {
    width: 50%;
    position: absolute;
    top: -9999px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#seitenzahl {
    position: absolute;
    bottom: 4.9em;
    margin-left: 9em;
}

#seitenzahl::before {
    content: "Seite ";
}

/* --------------------
A N Z A H L - D E R - Z E I C H E N
-----------------------*/
#zeichen {
    width: 30%;
    margin: 100px auto;
}

#zeichen h2 {
    font-size: 20px;
    padding-left: 5px;
    text-align: center;
}

/* --------------------
T O P - B A R 
-----------------------*/

DIV.topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #f7411d;
    color: white;
    border-bottom: 3px solid white;
}

/* ------ Freizeit und Helfer ------- */
.freizeit ul li {
    display: inline;
    padding-right: 20px;

}

.helfer ul li {
    display: inline;
    padding-right: 20px;
}

/* ---- Buttons ------ */

.freizeit li button {
    width: 90px;
    height: 30px;
    margin: 0 5px;
    background-color: yellow;
    position: relative;
    top: 0px;
    border-color: #f7411d;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.freizeit li button:disabled {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.helfer li button {
    width: 90px;
    height: 30px;
    margin: 0 5px;
    background-color: yellow;
    position: relative;
    top: 0px;
    border-color: #f7411d;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* --------------------
B O T T O M - B A R 
-----------------------*/

/* ------ Skills Buttons ------- */
.skills {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 300px;
    background-color: #62db64;
    color: black;
    border-top: 3px solid darkgreen;
}

.skills button {
    width: 90px;
    height: 70px;
    margin-right: 5px;
    background-color: yellow;
    border: none;
}

.skills button:disabled {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#pencil {
    background-image:url(images/Bleistift.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 
}

#ballpen {
    background-image:url(images/Kugelschreiber.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 
}

#pencilcase {
    background-image:url(images/Federmappe.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 
}

#typewriter {
    background-image:url(images/Schreibmaschine.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 
}

#phone {
    background-image:url(images/Handy.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center; 
}

#tablet {
    background-image:url(images/Tablet.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 
}

#macbook {
    background-image:url(images/Macbook.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 
}

/* ------ Skalen (Laune + Kraft) ------- */
#laune {
   position: fixed;
   bottom: 25px;
   right: 0px;
   margin: 0 20px 15px 0;
   width: 300px;
   height: 20px;
   background-image: url(images/Smiley.png);
   background-size: 6%;
   background-repeat: no-repeat;
   padding-left: 30px;
}

#kraft {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px 20px 10px 10px;
    width: 300px;
    height: 20px;
    background-image: url(images/Stern.png);
    background-size: 6%;
    background-repeat: no-repeat;
    padding-left: 30px;
}

/* --------------------
S T U D E N T - F I G U R 
-----------------------*/
#student {
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 70px;
    right: 0px;
    background-image: url(images/Student.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

/* --------------------
K A F F E E 
-----------------------*/
#kaffee {
    position: fixed;
    bottom: 200px;
    right: 60px;
    width: 50px;
    height: 100px;
    background-image: url(images/Kaffee.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out 0s;
    border: none;
    background-color: transparent;
}
#kaffee:hover {
    margin-left: 10px;
    width: 75px;
    height: 150px;
    cursor: default;
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out 0s;
}

/* --------------------
B O N U S 
-----------------------*/
#bonus {
    width: 120px;
    height: 120px;
    position: fixed;
    top: 70px;
    left: 20px;
    background-image: url(images/Bonus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.3s ease-in-out 0s;
}
#bonus:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}